.FRRRR {
    width: 80%;
    height:44%;
    position: absolute;
    border-radius:0px;
    background:transparent;
    overflow: auto;
    left: 60%;
    top: 75%;
    transform: translate(-50%, -50%);
    border-bottom: 0px;
    align-items: center;
    
    
  }
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #b9c6b0;
  overflow-y: auto;
  
  
  
}
.user-post-container {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 15px 0;
  padding: 15px;
  width: 70%;
  background-color: #fff;
}

.post-container {
  margin-bottom: 15px;
}

.post-container {
  margin: 10;
}

.comments-section {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.comment {
  margin-bottom: 30px;
}

.additional-comments {
  margin-top: 10px;
}
